
body  {
  background-image: url("cozinha.jpg");
}

h1 {
   	
  text-shadow: 2px 2px #FF0000;
}

h2 {
  color: #FF1493; 	
}

h3 {
  color: #191970;
  font-size: 150%;
}

p{
  text-align: center;
  font-size: 200%;
  color: #FF0000;
	
}

div.first {
   background-color: #E0FFFF;
   width: 800px;
   border: 15px solid green;
   padding: 25px;
   margin: 25px;
   border-radius:10px;
}

div.second {
   background-color: #E0FFFF;
   width: 400px;
   border: 15px solid green;
   padding: 25px;
   margin: 25px;
   border-radius:10px;
}
div.third {
   background-color: #E0FFFF;
   width: 200px;
   border: 15px solid green;
   padding: 25px;
   margin: 25px;
   border-radius:10px;
}

div.atendente {
	position: absolute;
    left: 400px;
    top: 81px;
   
}

nav{
   width:310px;
   }
nav ul {
	padding:10px;
		
}
nav ul li {
	border:solid 2px white;
	padding:10px;
	display:inline;
	border-radius:10px;
	background-color:gray;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
